{
    "parser": "babel-eslint",
    
    "extends": "airbnb",

    "env": {
        "browser": true
    },

    "rules" : {
        "padded-blocks" : "off",
        "no-trailing-spaces": "off"
    },

      "globals": {
        "document": false,
        "chrome": false
      }


}