.hovered {
  border-bottom-width: '2px';
  border-bottom-style: 'solid';
  border-color: 'red';
  background: 'red';
}
.normal {
  border-bottom-width: '0px';
  border-bottom-style: 'solid';
  border-color: 'red';
  background: 'red';
}